:root {
  --color-white: #FFFFFF;
  --color-orange: #f2785c;
}

body {
  font-family: 'Aleo';
  max-width: 1440px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  border: 2px solid #F2785C ;
}

/*buttons*/

.button {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
              0px 2px 3px rgba(13, 96, 111, 0.16);
  background: #0D606F;
  color: #FFFFFF;
}

.button__login {
  width: 103px;
  height: 41px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white)
}

.button__start-plaining {
  width: 228px;
  height: 59px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-white)
}

.button__arrow {
  width: 228px;
  height: 59px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-white);
}

/*buttons end*/

/*fonts*/

.logo-title {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--color-white);
}

.menu-item {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-white)
}

.section-title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: var(--color-orange);
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: var(--color-white);
}

/*fonts end*/
